body {
    font-family: "Nunito", sans-serif;
    background-color: #f7f3e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    text-align: center;
    background-color: #fff;
    padding: 120px;
    padding-right: 15rem;
    padding-left: 15rem;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subject-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #ffd5e5;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffa4bb;
}
