body {
    font-family: "Nunito", sans-serif;
    background-color: #ffebf2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    text-align: center;
    background-color: #fff;
    padding: 80px;
    padding-right: 10rem;
    padding-left: 10rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.quiz-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subject-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffd5e5;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffa4bb;
}

#next-btn {
    display: none;
    margin-top: 20px;
}

.answer-btn {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #d5d5ff;
    border: 1px solid #9593ff;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    background-color: #bcbbff;
}

#timer-container {
    width: 100%;
    height: 10px;
    background-color: #f2f2f2;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    background-color: #1e1e35;
    width: 100%;
    transition: width 1s linear;
}

.hidden {
    display: none;
}

#result-container{
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    font-size: 30px;
}

@media (max-width: 800px) {
    .container {
        padding: 60px 5rem;
    }

    .quiz-container {
        width: 90%;
        padding: 30px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 40px 2rem;
    }

    .quiz-container {
        padding: 20px;
        font-size: 12px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .answer-btn {
        font-size: 12px;
    }
}